html, body {
  height: 100%;
}

body {
  background-image: url('img/bg.png');
  background-repeat: repeat;
  color: lightblue;
  font-family: 'Khula', sans-serif;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

.cover-container {
  max-width: 42em;
  justify-content: center;
}
