@import url('https://fonts.googleapis.com/css?family=Khula');

body {
  background-color: white;
  font-family: 'Khula', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  body {
    padding: 0;
  }
  
  .card {
    min-height: 100vh;
    border-radius: 0;
  }
}

h1, h4 {
  margin-bottom: 0 !important;
}

.tech-item {
  padding: 10px;
  white-space: nowrap;
}

.card .card-header,
.card .card-footer {
  background-image: url('img/bg.png');
  background-repeat: repeat;
}

.tech-item .tech-icon {
  height:35px;
}
